@using UI.Models.Client

@model SelectingClientModel
@{
}
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    <p>Name</p>
                </th>
                <th>
                    <p>Number</p>
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.SelectedName)
                </td>
                <td>
                    <p>
                        +@Html.DisplayFor(modelItem => Model.SelectedСodeOfTheCountry)
                        (@Html.DisplayFor(modelItem => Model.SelectedRegionCode))
                        @Html.DisplayFor(modelItem => Model.SelectedSubscriberNumber)
                    </p>
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateClient", new { id=Model.Id }) |
                    @Html.ActionLink("Delete", "DeleteClient", new { id=Model.Id })
                </td>
            </tr>            
        </table>
    </div>
</div>
