@using UI.Models.Position

@model Position
@{
}
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateFormPositionView", new { Model.Id, Model.Name }) |
                    @Html.ActionLink("Delete", "DeletePosition", new { id=Model.Id })
                </td>
            </tr>            
        </table>
    </div>
</div>
