@using UI.Models.WorkPlan

@model SelectingWorkPlanModel
@{
}
<h2>Selected Work Plan</h2>

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateFinish)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContractId)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.DateFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ContractId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateWorkPlan", new { id=Model.Id }) |
                    @Html.ActionLink("Delete", "DeleteWorkPlan", new { id=Model.Id })
                </td>
            </tr>            
        </table>
    </div>
</div>
